
build/tmp/jniExtractDir/

build/tmp/expandedArchives/opencv-cpp-3\.4\.4-4-windowsx86-64\.zip_8b328899bdab5d66c9209ca2ee4859ae/windows/x86-64/shared/

build/libs/

build/tmp/expandedArchives/cscore-cpp-2019\.1\.1-windowsx86-64\.zip_4c0bf7b6dbfac3cb789f43eeb0613598/windows/x86-64/shared/

\.idea/

\.gradle/5\.0/fileHashes/

\.gradle/5\.0/javaCompile/

\.gradle/5\.0/taskHistory/

\.gradle/buildOutputCleanup/

build/classes/java/main/frc/robot/

build/tmp/expandedArchives/hal-cpp-2019\.1\.1-windowsx86-64\.zip_a9d13bf29c212e37680922cb561440a4/windows/x86-64/shared/

build/tmp/expandedArchives/ntcore-cpp-2019\.1\.1-windowsx86-64\.zip_bdc6d3fd20eb05e5634142e73c3dcf2d/windows/x86-64/shared/

*.dll
